interactions:
- request:
    body: '{"sku": {"name": "standard_b1ls"}, "location": "westus", "properties":
      {"reservedResourceType": "VirtualMachines", "billingScopeId": "a6cca743-ee25-481c-8626-e5362d7bf0b9",
      "term": "P1Y", "billingPlan": "Monthly", "quantity": 2, "displayName": "test",
      "appliedScopeType": "Shared", "renew": false, "reservedResourceProperties":
      {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Capacity/calculatePrice?api-version=2019-04-01
  response:
    body:
      string: '{"properties":{"billingCurrencyTotal":{"currencyCode":"USD","amount":63.84},"netTotal":0.0,"taxTotal":0.0,"grandTotal":0.0,"paymentSchedule":[{"dueDate":"2020-08-21","pricingCurrencyTotal":{"currencyCode":"USD","amount":5.32},"billingCurrencyTotal":{"currencyCode":"USD","amount":5.32},"status":"Scheduled"},{"dueDate":"2020-09-21","pricingCurrencyTotal":{"currencyCode":"USD","amount":5.32},"status":"Scheduled"},{"dueDate":"2020-10-21","pricingCurrencyTotal":{"currencyCode":"USD","amount":5.32},"status":"Scheduled"},{"dueDate":"2020-11-21","pricingCurrencyTotal":{"currencyCode":"USD","amount":5.32},"status":"Scheduled"},{"dueDate":"2020-12-21","pricingCurrencyTotal":{"currencyCode":"USD","amount":5.32},"status":"Scheduled"},{"dueDate":"2021-01-21","pricingCurrencyTotal":{"currencyCode":"USD","amount":5.32},"status":"Scheduled"},{"dueDate":"2021-02-21","pricingCurrencyTotal":{"currencyCode":"USD","amount":5.32},"status":"Scheduled"},{"dueDate":"2021-03-21","pricingCurrencyTotal":{"currencyCode":"USD","amount":5.32},"status":"Scheduled"},{"dueDate":"2021-04-21","pricingCurrencyTotal":{"currencyCode":"USD","amount":5.32},"status":"Scheduled"},{"dueDate":"2021-05-21","pricingCurrencyTotal":{"currencyCode":"USD","amount":5.32},"status":"Scheduled"},{"dueDate":"2021-06-21","pricingCurrencyTotal":{"currencyCode":"USD","amount":5.32},"status":"Scheduled"},{"dueDate":"2021-07-21","pricingCurrencyTotal":{"currencyCode":"USD","amount":5.32},"status":"Scheduled"}],"reservationOrderId":"471d30d8-102a-48d4-91a6-ee7c203ad1b5","skuTitle":"Reserved
        VM Instance, Standard_B1ls, US West, 1 Year","skuDescription":"standard_b1ls","pricingCurrencyTotal":{"currencyCode":"USD","amount":63.84}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
      x-ms-test:
      - '{"contact":"resextteamdev@microsoft.com","scenarios":"inv-v7,NewReservationTypeScenario,CSZ,GtmRiPurchase,crs-vnext","retention":"2020-09-10T00:00:00Z"}'
    status:
      code: 200
      message: OK
version: 1
