interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/1209c113-0201-43fc-93d5-9ed1eeecefbe/reservations/dc7e4968-79b8-445e-8f83-9a1268a8aba1?api-version=2019-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard_B1ls"},"id":"/providers/microsoft.capacity/reservationOrders/1209c113-0201-43fc-93d5-9ed1eeecefbe/reservations/dc7e4968-79b8-445e-8f83-9a1268a8aba1","type":"Microsoft.Capacity/reservationOrders/reservations","name":"1209c113-0201-43fc-93d5-9ed1eeecefbe/dc7e4968-79b8-445e-8f83-9a1268a8aba1","etag":2,"location":"westeurope","properties":{"appliedScopeType":"Shared","quantity":4,"provisioningState":"Succeeded","expiryDate":"2023-08-21","displayName":"python_test","effectiveDateTime":"2020-08-21T21:54:46.7399583Z","lastUpdatedDateTime":"2020-08-21T21:54:46.7399583Z","reservedResourceType":"VirtualMachines","instanceFlexibility":"On","skuDescription":"Reserved
        VM Instance, Standard_B1ls, EU West, 3 Years","mergeProperties":{"mergeSources":["/providers/microsoft.capacity/reservationOrders/1209c113-0201-43fc-93d5-9ed1eeecefbe/reservations/50d3acf8-8416-4f23-ac64-c870485d8d86","/providers/microsoft.capacity/reservationOrders/1209c113-0201-43fc-93d5-9ed1eeecefbe/reservations/c394dca2-8d6d-43a8-8542-fe81491389f0"]},"capabilities":"ApiReturnEnabled,
        ApiExchangeEnabled","renew":false,"term":"P3Y","billingScopeId":"/subscriptions/00000000-0000-0000-0000-000000000000","billingPlan":"Monthly"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"quantities": [1, 3], "reservationId": "/providers/Microsoft.Capacity/reservationOrders/1209c113-0201-43fc-93d5-9ed1eeecefbe/reservations/dc7e4968-79b8-445e-8f83-9a1268a8aba1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/1209c113-0201-43fc-93d5-9ed1eeecefbe/split?api-version=2019-04-01
  response:
    body:
      string: '[{"sku":{"name":"Standard_B1ls"},"id":"/providers/microsoft.capacity/reservationOrders/1209c113-0201-43fc-93d5-9ed1eeecefbe/reservations/87621997-1512-4f6a-bbc9-43fcb20d5651","type":"Microsoft.Capacity/reservationOrders/reservations","name":"1209c113-0201-43fc-93d5-9ed1eeecefbe/87621997-1512-4f6a-bbc9-43fcb20d5651","etag":2,"location":"westeurope","properties":{"appliedScopeType":"Shared","quantity":1,"provisioningState":"Succeeded","expiryDate":"2023-08-21","displayName":"python_test","effectiveDateTime":"2020-08-21T22:25:31.5634242Z","lastUpdatedDateTime":"2020-08-21T22:25:37.657802Z","reservedResourceType":"VirtualMachines","instanceFlexibility":"On","skuDescription":"Reserved
        VM Instance, Standard_B1ls, EU West, 3 Years","splitProperties":{"splitSource":"/providers/microsoft.capacity/reservationOrders/1209c113-0201-43fc-93d5-9ed1eeecefbe/reservations/dc7e4968-79b8-445e-8f83-9a1268a8aba1"},"renew":false}},{"sku":{"name":"Standard_B1ls"},"id":"/providers/microsoft.capacity/reservationOrders/1209c113-0201-43fc-93d5-9ed1eeecefbe/reservations/98e27753-5d0c-4a83-9270-ae15a6195c65","type":"Microsoft.Capacity/reservationOrders/reservations","name":"1209c113-0201-43fc-93d5-9ed1eeecefbe/98e27753-5d0c-4a83-9270-ae15a6195c65","etag":2,"location":"westeurop[...]
