interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/8f962b1d-b9f6-4b4a-9732-e1b3ceadc391?api-version=2019-04-01
  response:
    body:
      string: '{"id":"/providers/microsoft.capacity/reservationOrders/8f962b1d-b9f6-4b4a-9732-e1b3ceadc391","type":"Microsoft.Capacity/reservationOrders","name":"8f962b1d-b9f6-4b4a-9732-e1b3ceadc391","etag":11,"properties":{"displayName":"VM_RI_06-26-2020_19-36","requestDateTime":"2020-06-26T19:37:16.0199221Z","createdDateTime":"2020-06-26T19:39:21.3676583Z","expiryDate":"2023-06-26","term":"P3Y","provisioningState":"Succeeded","reservations":[{"id":"/providers/microsoft.capacity/reservationOrders/8f962b1d-b9f6-4b4a-9732-e1b3ceadc391/reservations/343cdc00-d1bf-45aa-8512-2c576601c49a"}],"originalQuantity":1,"billingPlan":"Monthly"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
