interactions:
- request:
    body: '{"sku": {"name": "standard_b1ls"}, "location": "westeurope", "properties":
      {"reservedResourceType": "VirtualMachines", "billingScopeId": "a6cca743-ee25-481c-8626-e5362d7bf0b9",
      "term": "P3Y", "billingPlan": "Monthly", "quantity": 1, "displayName": "877194f4-a43d-4e92-9782-69fd59faa8d8",
      "appliedScopeType": "Shared", "renew": false, "reservedResourceProperties":
      {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/f7a08850-666d-4d2a-b531-c5ce9ece2212?api-version=2019-04-01
  response:
    body:
      string: '{"error":{"code":"AnotherOperationInProgress","message":"Another RI
        purchase operation in progress."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
      x-ms-test:
      - '{"contact":"resextteamdev@microsoft.com","scenarios":"inv-v7,NewReservationTypeScenario,CSZ,GtmRiPurchase,crs-vnext","retention":"2020-09-10T00:00:00Z"}'
    status:
      code: 409
      message: Conflict
version: 1
