interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Capacity/reservationOrders?api-version=2019-04-01
  response:
    body:
      string: '{"value":[{"id":"/providers/microsoft.capacity/reservationOrders/5a1327d8-4e4c-488b-8227-6e9007292f23","type":"Microsoft.Capacity/reservationOrders","name":"5a1327d8-4e4c-488b-8227-6e9007292f23","etag":11,"properties":{"displayName":"VM_RI_06-30-2020_16-16","requestDateTime":"2020-06-30T16:16:42.4665797Z","createdDateTime":"2020-06-30T16:18:56.1808209Z","expiryDate":"2023-06-30","term":"P3Y","provisioningState":"Succeeded","reservations":[{"id":"/providers/microsoft.capacity/reservationOrders/5a1327d8-4e4c-488b-8227-6e9007292f23/reservations/a46070a4-f069-4ba0-b913-e1b009ff7b63"}],"originalQuantity":1,"billingPlan":"Monthly"}},{"id":"/providers/microsoft.capacity/reservationOrders/938f877f-0d41-4d91-851b-0d35f7773250","type":"Microsoft.Capacity/reservationOrders","name":"938f877f-0d41-4d91-851b-0d35f7773250","etag":9,"properties":{"displayName":"VM_RI_08-06-2020_15-47","requestDateTime":"2020-08-06T22:48:16.0469771Z","createdDateTime":"2020-08-06T22:50:38.5512697Z","expiryDate":"2023-08-06","term":"P3Y","provisioningState":"Succeeded","reservations":[{"id":"/providers/microsoft.capacity/reservationOrders/9[...]
