interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/8f962b1d-b9f6-4b4a-9732-e1b3ceadc391/reservations/343cdc00-d1bf-45aa-8512-2c576601c49a?api-version=2019-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard_B2s"},"id":"/providers/microsoft.capacity/reservationOrders/8f962b1d-b9f6-4b4a-9732-e1b3ceadc391/reservations/343cdc00-d1bf-45aa-8512-2c576601c49a","type":"Microsoft.Capacity/reservationOrders/reservations","name":"8f962b1d-b9f6-4b4a-9732-e1b3ceadc391/343cdc00-d1bf-45aa-8512-2c576601c49a","etag":53,"location":"eastus","properties":{"appliedScopeType":"Shared","quantity":1,"provisioningState":"Succeeded","expiryDate":"2023-06-26","displayName":"VM_RI_06-26-2020_19-36","effectiveDateTime":"2020-08-21T22:04:35.510329Z","lastUpdatedDateTime":"2020-08-21T22:04:37.0259097Z","reservedResourceType":"VirtualMachines","instanceFlexibility":"On","skuDescription":"Reserved
        VM Instance, Standard_B2s, US East, 3 Years","capabilities":"ApiReturnEnabled,
        ApiExchangeEnabled","renew":true,"term":"P3Y","billingScopeId":"/subscriptions/00000000-0000-0000-0000-000000000000","billingPlan":"Monthly"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
