interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/8f962b1d-b9f6-4b4a-9732-e1b3ceadc391/reservations/343cdc00-d1bf-45aa-8512-2c576601c49a/revisions?api-version=2019-04-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_B2s"},"id":"/providers/microsoft.capacity/reservationOrders/8f962b1d-b9f6-4b4a-9732-e1b3ceadc391/reservations/343cdc00-d1bf-45aa-8512-2c576601c49a/revisions/53","type":"Microsoft.Capacity/reservationOrders/reservations/revisions","name":"8f962b1d-b9f6-4b4a-9732-e1b3ceadc391/343cdc00-d1bf-45aa-8512-2c576601c49a/53","etag":53,"location":"eastus","properties":{"appliedScopeType":"Shared","quantity":1,"provisioningState":"Succeeded","expiryDate":"2023-06-26","displayName":"VM_RI_06-26-2020_19-36","effectiveDateTime":"2020-08-21T22:04:35.510329Z","lastUpdatedDateTime":"2020-08-21T22:04:37.0259097Z","reservedResourceType":"VirtualMachines","instanceFlexibility":"On","skuDescription":"Reserved
        VM Instance, Standard_B2s, US East, 3 Years","renew":true}},{"sku":{"name":"Standard_B2s"},"id":"/providers/microsoft.capacity/reservationOrders/8f962b1d-b9f6-4b4a-9732-e1b3ceadc391/reservations/343cdc00-d1bf-45aa-8512-2c576601c49a/revisions/52","type":"Microsoft.Capacity/reservationOrders/reservations/revisions","name":"8f962b1d-b9f6-4b4a-9732-e1b3ceadc391/343cdc00-d1bf-45aa-8512-2c576601c49a/52","etag":52,"location":"eastus","properties":{"appliedScopes":["/subscriptions/00000000-0000-0000-0000-000000000000"],"appliedScopeType":"Single","quantity":1,"provisioningState":"Pending","expiryDate":"2023-06-26","displayName":"VM_RI_06-26-2020_19-36","effectiveDateTime":"2020-08-21T22:04:09.8261358Z","extendedStatusInfo":{"statusCode":"Pending","message":"An
        operation is in progress on your reservation. Please wait for operation to
        complete before taking further action."},"lastUpdatedDateTime":"2020-08-21T22:04:35.3697134Z","reservedResourceType":"VirtualMachines","instanceFlexibility":"On","skuDescription":"Reserved
        VM Instance, Standard_B2s, US East, 3 Years","renew":true}},{"sku":{"name":"Standard_B2s"},"id":"/providers/microsoft.capacity/reservationOrders/8f962b1d-b9f6-4b4a-9732-e1b3ceadc391/reservations/343cdc00-d1bf[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/8f962b1d-b9f6-4b4a-9732-e1b3ceadc391/reservations/343cdc00-d1bf-45aa-8512-2c576601c49a/revisions?api-version=2019-04-01&%24skiptoken=K1JJRDp%2BQURwa0FJSEViQm1LZ1FnQUFBQUFEQT09I1JUOjEjVFJDOjUwI1JURDpBTjF5eXBCeFdXajJuRFVFMmpld0JNQVEjSVNWOjIjSUVPOjY1NTUxI0ZQQzpBZ2dpQUFBQUFEQUFBQ2dBQUFBQU1BQUFJZ0FBQUFBd0FBQUdBSUlCVUZWQkFTY0FBQUFBTUFBQUJBQWhNVEFBS0FBQUFBQXdBQUFlQ[...]
