interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Capacity/catalogs?api-version=2019-04-01&reservedResourceType=AppService&location=westus2
  response:
    body:
      string: '[{"resourceType":"AppService","name":"app_service_isolated_plan_stamp_fee_linux","terms":["P1Y","P3Y","P5Y"],"locations":["westus2"],"billingPlans":{"p1Y":["Upfront","Monthly"],"p3Y":["Upfront","Monthly"],"p5Y":["Upfront","Monthly"]},"msrp":{"p3Y":{"currencyCode":"USD","amount":20136.0}},"skuProperties":[{"name":"ProductShortName","value":"Azure
        App Service Isolated Plan-Linux"},{"name":"ProductTitle","value":"Azure App
        Service Isolated Plan - Linux"},{"name":"SkuName","value":"Stamp"},{"name":"MeterId","value":"ae9b45d9-537c-4761-9136-f2b183e80b9c"},{"name":"MeterType","value":"Fee/Hour"},{"name":"SkuDisplayName","value":"Stamp"},{"name":"billingPlans","value":"[\r\n  \"Upfront\",\r\n  \"Monthly\"\r\n]"}],"restrictions":[{"type":"Term","values":["P1Y"],"reasonCode":"NotAvailableForSubscription"},{"type":"Term","values":["P5Y"],"reasonCode":"NotAvailableForSubscription"}]},{"resourceType":"AppService","name":"app_service_isolated_plan_stamp_fee","terms":["P1Y","P3Y","P5Y"],"locations":["westus2"],"billingPlans":{"p1Y":["Upfront","Monthly"],"p3Y":["Upfront","Monthly"],"p5Y":["Upfront","Monthly"]},"msrp":{"p3Y":{"currencyCode":"USD","amount":21193.0}},"skuProperties":[{"name":"ProductShortName","value":"Azure
        App Service Isolated Plan"},{"name":"ProductTitle","value":"Azure App Service
        Isolated Plan"},{"name":"SkuName","value":"Stamp"},{"name":"MeterId","value":"df799a7b-1f19-483d-ac6c-8874041cef3a"},{"name":"MeterType","value":"Fee/Hour"},{"name":"SkuDisplayName","value":"Stamp"},{"name":"billingPlans","value":"[\r\n  \"Upfront\",\r\n  \"Monthly\"\r\n]"}],"restrictions":[{"type":"Term","values":["P1Y"],"reasonCode":"NotAvailableForSubscription"},{"type":"Term","values":["P5Y"],"reasonCode":"NotAvailableForSubscription"}]}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-test:
      - '{"contact":"resextteamdev@microsoft.com","scenarios":"inv-v7,NewReservationTypeScenario,CSZ,GtmRiPurchase,crs-vnext","retention":"2020-09-10T00:00:00Z"}'
    status:
      code: 200
      message: OK
version: 1
